# Python virtual environment
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
*.pyc

# SQLite database
db.sqlite3  

# Local settings
local_settings.py
*.env

# macOS system files
.DS_Store

# IDE/Editor files
.idea/
.vscode/

# Static and media files
staticfiles/
media/

# Docker
.dockerignore.swp
docker-compose.override.yml

# PostgreSQL data
postgres_data/
*.dump
*.sqlfrontend/.pnpm-store/
